* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: " Plus Jakarta Sans", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

/* navbar styling begins */
.navbar-container {
  min-width: 1168px;
  height: 106px;
  display: flex;
  padding: 21px 31px 21px 33px;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
.navbar-left {
  display: flex;
  height: 64px;
  padding: 19px 285px 19px 13px;
  align-items: center;
  gap: 15px;
  border-radius: 16px;
  background: #e9e9e9;
}

.navbar-left input {
  width: 189px;
  height: 26px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #2d2d2d;
  font-family: " Inter", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.navbar-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 176px;
  height: 41px;
}
.navbar-notification {
  width: 40px;
  height: 40px;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.navbar-notification .notify {
  width: 24px;
  height: 24px;
}
.navbar-notification .nav-ellipse {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 9px;
  right: 13px;
}
.navbar-right article {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}
.navbar-right article img {
  width: 40px;
  height: 40px;
}
.navbar-right article p {
  width: 68px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
}
/* navbar ends */

/* dashboard styling brgins */
.dashboard-container {
  position: relative;
  width: 272px;
  height: 1024px;
  border-right: 1px solid rgba(20, 20, 20, 0.2);
  background: #fff;
  padding: 36px 47px 41px 0;
}
.dashboard-container header {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 0 0 75px 55px;
}
.dashboard-container header img {
  width: 32.283px;
  height: 32px;
}
.dashboard-container header p {
  font-size: 22px;
  font-weight: 500;
  line-height: 120%;
}

.dashboard-container main {
  align-items: flex-start;
  flex-direction: column;
  display: flex;
  padding: 11px 51px 11px 0px;
  color: #222;
}

.dashboard-content {
  width: 225px;
  height: 56px;
  display: flex;
  border-radius: 0px 12px 12px 0px;
  padding: 16px 37px 16px 55px;
  justify-content: flex-end;
  align-items: center;
}
.dashboard-content:hover::before {
  content: "";
  width: 5px;
  height: 34px;
  border-radius: 2px;
  background: #1e3581;
  position: absolute;
  left: 0;
}
.dashboard-content:hover {
  border-radius: 0px 12px 12px 0px;
  background: #ebeffd;
  color: aqua;
}
.dash-cont {
  display: flex;
  gap: 12px;
  width: 133px;
  height: 24px;
}

.dash-cont p {
  color: #222;
  font-size: 18px;
  font-weight: 600;
}
.dashboard-container footer {
  position: absolute;
  bottom: 41px;
  display: flex;
  width: 103px;
  height: 24px;
  display: flex;
  align-items: flex-start;
  gap: 12px;
  opacity: 0.5;
  margin-inline: 67px 102px;
}

/* membersprofile  styling*/
.membersProfile-container {
  background-color: #e9e9e9;
  min-width: 1168px;
  height: 918px;
}
.membersProfile-container header {
  display: flex;
  justify-content: space-between;
}
.membersProfile-container header h1 {
  padding: 49px 0 0 30px;
  font-size: 27px;
  font-weight: 600;
  line-height: 120%;
}
.header-right {
  display: flex;
  padding: 37px 41px 0 0;
  align-items: flex-start;
  gap: 24px;
}
.membersProfile-container header button {
  width: 208px;
  height: 54px;
  display: flex;
  padding: 16px 56px 16px 57px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: linear-gradient(135deg, #6b73ff 0%, #000dff 100%);
  color: #fff;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
}

/* single profile */
.singleProfile-container {
  width: 1092px;
  height: 302px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #fff;
  margin: 21px 31px 21px 33px;
}
.singleProfile-container .section-top {
  display: flex;
  gap: 60px;
  padding-top: 20px;
  padding-left: 27px;
}
.section-content {
  display: flex;
  align-items: center;
  gap: 12px;
}
.section-content .section-content-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}
.section-content h1 {
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
}
.section-content button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  gap: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
  background: var(--Foundation-Green-green-50, #e8f5ef);
  color: var(--Foundation-Green-green-800, #0d5536);
  font-size: 14px;
  font-weight: 700;
  line-height: 120%;
}
.singleProfile-container .blueCircle {
  display: flex;
  width: 32px;
  height: 32px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  background: var(--Foundation-Blue-blue-50, #ebeffd);
}

.section-down {
  display: flex;
  gap: 24px;
  padding-top: 48px;
}
.section-down .section-content {
  width: 240px;
  height: 139px;
  border-radius: 10px;
  border: 1px solid rgba(34, 34, 34, 0.1);
  background: #fff;
  padding: 36px 0px 48px 32px;
}
.section-content p {
  color: var(--Foundation-Grey-Normal, #2d2d2d);

  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 16.8px */
  opacity: 0.7;
  padding-bottom: 16px;
}
.section-content h3 {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
}

/* attendance */
.attendance-container {
  width: 1092px;
  height: 404px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #fff;
  margin: 21px 31px 21px 33px;
  padding: 23px 58px 42px 35px;
}
.attendance-container h1 {
  padding-bottom: 29px;
}
.attendance-content {
  width: 317px;
  height: 130px;
  border-radius: 10px;
  border: 1px solid rgba(34, 34, 34, 0.1);
  background: #fff;
  padding: 28px 17px;
}
.attendance-top {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  opacity: 0.7;
}
.attendance-content-top img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.attendance-content-top p {
  color: #2d2d2d;
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
}

.attendance-content-down {
  display: flex;
  justify-content: space-between;
  padding-top: 29px;
}
.attendance-content-down p {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
}
.attendance-content-down div {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  color: #2d2d2d;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  opacity: 0.7;
}
.attendance-container article {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

/* layout */
.home-container {
  display: flex;
}
